@media screen and (max-width:576px){
    #header{
        padding:30px 20px;
    }
    .top-header{
        display:block;
    }
    .header-logo .logo-title{
        text-align:center;
        margin-bottom:30px;
    }
    .nav ul li{
        float:none;
        text-align:center;
    }
    .nav ul li a{
        display:block;
        padding:10px 0px;
    }
    .middle-header{
        margin-top:30px;
    }
    .middle-header-title{
        font-size:45px;
        font-weight:600;
        text-align:center;
        margin-bottom:20px;
    }
    middle-header-text{
        text-align:justify;
    }
    .middle-header-btn{
        margin-bottom:50px;
    }
    .header-banner img{
        width:100%;
        height:auto;
    }
    #top-section-feature{
        display:grid;
        grid-template-columns:repeat(1, 1fr);
        padding:50px 30px;
    }
   
    .left-inner-section{
        display:grid;
        grid-template-columns:repeat(1, 1fr);
    }
    .left-inner-section img{
        width:100%;
        height:auto;
    }
    .inner-section-title, .inner-section-text{
        text-align:center;
    }
    .inner-section-btn{
        display:block;
        margin:0px auto;
    }
    /* responsive middle section */
    #middle-section{
        display:block;
        padding:40px 30px;
    }
    .right-inner-section img{
        width:100%;
        height:auto;
    }
    .middle-section-inner-btn{
        display:block;
        margin:0px auto;
        margin-top:20px;
        padding:20px 15px;
        font-weight:500;
        font-size:18px;
    }
    .middle-section-inner-btn .button-style{
        font-weight:600;
        font-size:35px;
    }
    /* Start fact section */
    #fact-section{
        padding:50px 30px;
    }
    .content-area{
        width:100%;
    }
    .fact-section-title, .fact-section-text{
        text-align:center;
    }
    .content-counter{
        display:block;
    }
    .counter-box{
        margin-bottom:30px;
    }
    /* design sponsor section */
    #sponsor-section{
        padding:50px 30px;
    }
    .sponsor-content-area{
        text-align:center;
        width:100%;
    }
    
    .sponsor{
        display:block;
    }
    .sponsor .frist-img{
        margin-bottom:30px;
        background:none;
    }
    .sponsor .frist-img img{
        mix-blend-mode:normal;
        margin-left:35%;
    }
    /* responsive design for footer */
    #footer{
        width:100%;
        background-color:#FFF4E7;
    }
    .footer-text{
        text-align:center;
    } 
}

/* complete responsive for small devices */


/* Resposive for medium divices */
@media only screen and (min-width:577px) and (max-width:991px){
    #header{
        padding:40px;
    }
    .header-logo .logo-title{
        font-size:30px;
    }
    .nav ul li a{
        padding:0px 10px;
    }

    #top-section-feature{
        padding:50px 30px;
        display:block;
    }
    .left-inner-section img{
        width:100%;
    }
    .right-inner-section{
        margin-top:70px;
    }
    .inner-section-title, .inner-section-text{
        text-align:center;
    }
    .inner-section-btn{
        display:block;
        margin:0px auto;
        margin-top:30px;
    }
    #middle-section{
        display:block;
        padding:50px 30px;
    }
    .middle-section-inner-wrap{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        gap:30px;
    }
    .right-inner-section img{
        width:100%;
    }
    .middle-section-inner-btn{
        display:block;
        margin:0px auto;
        margin-top:30px;
    }
    #fact-section{
        padding:50px 30px;
    }
    .content-area{
        width:100%;
    }
    .fact-section-title, .fact-section-text{
        text-align:center;
    }
    .content-counter{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        gap:30px;
        align-items:center;
    }
/* responsive for medium devices sponsor section */
    .sponsor-content-title, .sponsor-content-text{
        text-align:center;
    }
    .sponsor{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
    }
    #footer{
        width:100%;
        background:#FFF4E7;
    }
        
    

}